<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="dsml.web"
            class="dsml.web.WebPackage"
            genModel="model/DSML.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="dsml.visitor"
            class="dsml.visitor.VisitorPackage"
            genModel="model/DSML.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="StrutsProjectNew.contribution1"
            nameFilter="*.dsml"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="StrutsProjectNew.menu1"
               label="Struts Generator"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="struts.popup.actions.GenerateProject"
               enablesFor="1"
               id="StrutsProjectNew.newAction"
               label="Generate Struts Project"
               menubarPath="StrutsProjectNew.menu1/group1">
         </action>
      </objectContribution>
      <objectContribution
            id="StrutsProjectNew.contribution1"
            nameFilter="*.dsml"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="StrutsProjectNew.menu1"
               label="Struts Generator"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="struts.popup.actions.ActionValidator"
               enablesFor="1"
               id="StrutsProjectNew.newAction"
               label="Validate"
               menubarPath="StrutsProjectNew.menu1/group1">
         </action>
      </objectContribution>
   </extension>

</plugin>
